* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

header {
    font-size: 1rem;
    height: 9.375rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 3.125rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    padding: 6px 18px;
    border-radius: 5px;
    transition: background-color ease-in-out 500ms;
}

nav ul li a:hover {
    background-color: hsl(238, 22%, 44%);
    color: white;
}

.fylo-main {
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
}

.fylo-main section h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 1.5em;
    color: hsl(243, 87%, 12%);

}

.fylo-main section p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.fylo-main div {
    margin-top: 15px;
    width: 31.25rem;
}

.fylo-main img {
    width: 31.25rem;
    position: relative;
    top: -30px;
    margin-right: 70px;
    height: 400px;
}

.sec {
    display: flex;
    margin-left: 65px;
}

.sec input {
    padding: 8px 0;
    width: 250px;
    border: none;
    border: 1px solid hsl(0, 0%, 75%);
}

.sec button {
    padding: 9px 48px;
    margin-left: 5px;
    color: white;
    box-sizing: content-box;
    border-radius: 3px;
    background-color: hsl(224, 93%, 58%);
    border: none;
}

.sec button:hover {
    cursor: pointer;
    background-color: hsla(224, 93%, 58%, 0.815);
}

.fylo-productive {
    background-color: hsl(240, 75%, 98%);
    padding: 0 50px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.fylo-productive h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 1.5em;
    color: hsl(243, 87%, 12%);
}

.fylo-productive p {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 460px;
    font-size: 14px;
}

.wrks {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding-bottom: 4px;
}

.wrks::after {
    content: "";
    background: url(./images/icon-arrow.svg) center no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.container {
    width: 300px;
    margin-top: 30px;
    box-shadow:
        0 8px 12px 1px rgb(29 17 51 / 4%),
        0 3px 16px 2px rgb(9 32 77 / 12%),
        0 5px 10px -3px rgb(29 17 51 / 12%);
    height: 160px;
}

#quotes {
    position: relative;
    top: 10px;
    padding: 0 25px;
    padding-bottom: 20px;
}

.container p {
    width: 300px;
    padding: 0 25px;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

#avatar {
    padding: 0;
    width: 35px;
    margin-left: 25px;
    border-radius: 50%;

}

figure {
    display: flex;
    margin-top: 10px;
}

#ceo {
    font-size: 10px;
    width: 170px;
    padding-left: 10px;
}

strong {
    font-weight: 800;
}

.illus img {
    width: 31.25rem;
}

.access {
    background-color: hsl(238, 22%, 44%);
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.access form {
    position: relative;
    left: -300px;
    top: 20px;

}

.access h2 {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: 400;
}

.access p {
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 440px;
    font-size: 14px;
    color: white;
}

.access input {
    padding: 11px 0;
    width: 400px;
    border: none;
    border: 1px solid hsl(0, 0%, 75%);
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow:
        0 8px 12px 1px rgb(29 17 51 / 4%),
        0 3px 16px 2px rgb(9 32 77 / 12%),
        0 5px 10px -3px rgb(29 17 51 / 12%);
}

.access button {
    padding: 12px 30px;
    margin-left: 5px;
    color: white;
    box-sizing: content-box;
    border-radius: 3px;
    background-color: rgb(48, 101, 248);
    border: none;
    margin-left: 50px;
    box-shadow:
        0 8px 12px 1px rgb(29 17 51 / 4%),
        0 3px 16px 2px rgb(9 32 77 / 12%),
        0 5px 10px -3px rgb(29 17 51 / 12%);

}

.access button:hover {
    cursor: pointer;
    background-color: rgb(48, 101, 180)
}

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding-left: 50px;
    padding-top: 100px;
}

footer img {
    margin-bottom: 15px;
}

.phone p {
    padding-left: 5px;
}

.phone a {
    text-decoration: none;
    color: white;
}

.phone a:hover {
    text-decoration: underline;
}


.phone::before {
    content: "";
    background: url(./images/icon-phone.svg) center no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    right: 10px;
}

.email::before {
    content: "";
    background: url(./images/icon-email.svg) center no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    right: 10px;
    margin-top: 5px;
}

.email a {
    text-decoration: none;
    color: white;
}

.email a:hover {
    text-decoration: underline;
}

.more {
    padding-top: 60px;
}

.more p a {
    text-decoration: none;
    color: white;
}

.more p a:hover {
    text-decoration: underline;
}

.more p {
    margin: 15px 0;
}

.foot {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1115px) {

    .access form {
        position: relative;
        top: 20px;
        left: -20px;
    }
}

@media screen and (max-width: 1085px) {

    .fylo-main {
        width: 90%;
        flex-direction: column-reverse;

    }

    header {
        height: 200px;
    }

    .fylo-main img {}

    .fylo-productive {
        flex-direction: column-reverse;
        height: 900px;
    }

    .access {
        flex-direction: column;
        height: 300px;
        justify-content: center;
    }
}

@media screen and (max-width: 1032px) {
    .fylo-main {
        width: 90%;
    }

    .fylo-main .sec h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 690px) {
    .foot {
        display: grid;
    }

    .more {
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 300px;
    }
}

@media screen and (max-width: 560px) {
    body {
        width: 100%;
        margin: 0;
    }

    .sec input,
    .sec button {
        width: 100%;
    }
}